{% load static %}
<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
        {%block style%} {%endblock%}
        {%block tittle%} {%endblock%}
    </head>

    <body>
        <div id="contenedor">
            <header>
                <div id="encabezado">
                    <div class="logo">
                        <img src="{% static 'images/logo_principal.png' %}" alt="">
                    </div>
                </div>
                {% block encabezado %} {% endblock %}
                {% include 'layouts/partials/menu.html' %}
            </header>

            <main>
                {% block content %} {%endblock%}
            </main>

            
            {% include 'layouts/partials/footer.html' %}
            

        </div>
    </body>
</html>